* {
  box-sizing: border-box
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Dosis', sans-serif;
  line-height: 1.6;
  color: darkslategray;
  background: #F6F6F6;
}

body{
    margin:0;
}

#root {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: .5rem 2.5rem;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  padding: .5rem 2.5rem;
  font-size: 1.25rem;
}


h3 {
    text-align: center;
    margin: 1rem;
    font-size: 1rem;
}


img {
  display: block;
  margin: 1rem auto;
  max-width: 200px;
}

p {
  padding: 0 2.5rem 1.5rem;
  margin: 0;
}

.form{
    font-size: .9rem;
    color:white;
    padding: 0 10px 15px 10px;  
}

.formTitle{
    color:white;
    padding: 0 0px 0 0px;  
}
.formLabel{
    font-size: .75rem;
    color: white;
 
}

p.rec {
  padding: 0 .5rem;    
}

.contentTitle{
    color:darkslategray;
    padding: 0px;
}
.desc{
    font-size: .75rem;
    color: darkslategray;
 
}


.container {
  width:90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

/* Float two columns side by side */
.column {
  float: left;
  padding: 0 10px;
}

.column#leftColumn {
  background: #93B2E0;
  margin: 0 1rem 3rem 3rem;
  max-width:300px;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.column#rightColumn {
  background: #d0d0d0;
  padding-bottom: 2rem;
  margin: 0 0 3rem 2rem;
  width: 60%;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 5px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  margin: .5rem;
  float: left;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 12px;
  overflow: hidden;
  transition: all .2s linear;
  max-width: 200px;
  height: 350px;
}

.card:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

.hero {
  width: 100vw;
  height: 70vh;
    
  display: flex;
  justify-content: center;
  align-items: center;
    
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0)), url("../img/hero-top.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    
}
.hero h1 {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0;
}
.hero h2 {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

.hero-footer{
  width: 100vw;
  height: 10vh;
    
  display: flex;
  justify-content: center;
  align-items: center;
    
  text-align: center;
  color: white;

  background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, .3)), url("../img/hero-footer.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    
}
    

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #F9FAFC;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #635551;
}

.section-title p {
  margin-bottom: 0;
}
